@import "../../assets/colors/colors.scss";
@import "../../assets/colors/theme.scss";

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .projectsContainer {
        width: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        /* .projectCard {
            width:310px;
            height: 100%;
            
            padding: 1rem;
            border: 1px solid $main-orange;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            h3{
                margin:10px 0;
            }
            p{
                margin: 0 0 12px 0;
            }
            .projectCard-image {
                width: 90%;
                height: 90%;

                cursor: pointer;
                img {
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                }
            }
        } */
    }
}
