@import "./assets/colors/theme.scss";

.App {
    min-height: 100vh;
    .container {
        max-width: 1980px;
        margin: 0 auto;

        @media screen and (max-width : 319px) {
            display: none;
        }
    }
    .resolution{
        display: none;
        @media screen and (max-width : 319px) {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

.App {
    &[data-theme="light"] {
        @include lightTheme;
    }
    &[data-theme="dark"] {
        @include darkTheme;
    }
}
