/* Primary colors */

$primary-accent-color: #ff8a54;
$primary-D-color: #2e3440;
$primary-L-color: #fefcfb;

/* Secondary colors */

$main-Black: #000000;
$main-White: #ffffff;
$main-Gray: #888888;
$main-Red: #ce3e3e;
$main-Green: #448844;
$main-orange: #ff8a54;