/* Primary colors */

$primary-accent-color: #ff8a54;
/* $primary-D-color: #2e3440; */
$primary-D-color: #232121;
$primary-L-color: #f5f3f0;

/* Secondary colors */

$main-Black: #222730;
$main-White: #ffffff;
$main-Gray: #888888;
$main-Red: #ED254E;
$main-Green: #5FAD56;
$sec-Green: #3b6e36;
$main-orange: #ff8a54;
$main-blue: #485dbe;
$sec-blue: #344aac;

$boxShadow:0px 0px 8px 2px #d9d9d9bf;
$boxShadowD:0px 0px 8px 2px #d38900bf;
$boxShadowColor: #d9d9d9bf;
