.fProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
    h2{
        margin:1rem 0;
    }
    .projectsContainer {
        width: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}